@media screen and (max-width:576px) {

    .cards,
    .header-section,
    .nav,
    .gamer-section,
    .free-game {
        flex-direction: column;
        padding: 20px 0px;
    }
    .banner-section {
        flex-direction: column-reverse;
    }
    .card img,
    .game-content,
    .game-img,
    .banner-content,
    .games-img,
    .header-section {
        width: 100%;
    }
    .game-content,
    .game-img,
    .banner-content,
    .games-img {
        text-align: center;
    }
    .free-game-image,
    .free-game-content {
        width: 80%;
        margin: 0;
    }
    .game-part{
        width: 150px;
        height: 150px;
        left: -50px;
        top: -100px;
    }
}