@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.body-container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.header-icons, .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.0rem;
    font-weight: 500;
}
.nav-title {
    color: #0B0223;
    font-style: normal;
    font-weight: 700;
}
.g-text {
    color: #FF42A5;
}
.follow-icons {
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner */
.banner-section {
    display: flex;
    justify-content: space-evenly;
    min-width: 50px;
    margin: 40px auto 0;
    align-items: center;
    padding: 180px;
}
.banner-content {
    width: 50%;
    background-image: url("images/Group 14.png");

}
.games-img {
    width: 50%;

}
.games-img img {
    width: 100%;
}
.banner-header {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-goat {
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}
.banner-download {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-download i {
    margin-right: 5px;
}
.btn-1, .btn-2 {
    padding: 21px 40px;
    font-size: 1.4rem;
    border-radius: 48px;
    border: 0;
    color: #fff;
    margin-right: 25px;
    margin-top: 40px;


}
.btn-1, .btn-3 {
    background-color: #F948B2;
}
.btn-2 {
    background: #4EC5F7;
}
.btn-3 {
    padding: 20px 40px;
    border: 0;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: white;
}
.gamer-section p {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}